.Error {
    position: fixed;
    inset: 30% 30% 45% 30%;
    z-index: 777777;
    margin: 0 auto;
    /* background-color: #292F3F; */
    backdrop-filter: blur(8px);
    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #FDC500,
    -5px -5px 10px #FFD500;
}

@media only screen and (max-width: 35em){
    .Error {
        inset: 10% 10% 55% 10%;
    }
}