.UserCard {
    background-color: #00296b;
    border-radius: 1.0rem;
    text-align: center;
    padding: 1rem;
    position: relative;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.UserCard_box_image {
    border-radius: 50%;
}

.UserCard_box_info {
    line-height: 0.6;
}

.UserCard_box_info button {
    background-color: rgba(253,197,0,0.9);
    color: #00296b;
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 1.0rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.number {
    position: absolute;
    right: 1rem;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    background-color: #ffd500;
    top: 1rem;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}